DATABASE_URL="postgres://585c44caba95a3b2f4ed9c0a0a52742cbd7be07b4d2374d15ba1a7a61e076f0c:sk_yxWXGZIjNZ13O9rt1eMX0@db.prisma.io:5432/postgres?sslmode=require"$env:DATABASE_URL="postgres://585c44caba95a3b2f4ed9c0a0a52742cbd7be07b4d2374d15ba1a7a61e076f0c:sk_yxWXGZIjNZ13O9rt1eMX0@db.prisma.io:5432/postgres?sslmode=require"

AUTH_SECRET=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTc2ODY0MTQzNSwiaWF0IjoxNzY4NjQxNDM1fQ.PUVDY0LzlJv5tRd6HaNL5oYFlDw-V4Pvs2cSnNNpfVM
STRIPE_SECRET_KEY=sk_test_51SXJVrErAxQ91haSJqzdE6KUDjWR84ICVeMsSuCP9jJIdrdcRcihTefQcsBS3vXiiG4fCb5T48k0iTlbWJQLSAXB00Mdb6YgaQ
STRIPE_PUBLISHABLE_KEY=pk_test_51SXJVrErAxQ91haSzPHJZ7iwYIpkVTpRLdatuImH1w0xe0GL3v6xrNaZ9VpkGVWni0WTpRgiajzjF8kBBLy8sViS00D7KY2yUA
MAPBOX_TOKEN=""
SENDGRID_FROM_EMAIL=no-reply@panda.new
SENDGRID_API_KEY=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
BASE_URL=http://localhost:3000  # For verification links